In [25]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

In [2]:
vp = pd.read_csv("Elections Dataset/vp_precinct_data_2016.csv")
pres = pd.read_csv("Elections Dataset/pres_precinct_data_2022.csv")

In [21]:
vp.head()

,region,province,municipality,barangay,clustered_precinct,cayetano,escudero,honasan,marcos,robredo,trillanes,registered_voters,ballots_cast,precincts,polling_center,timestamp
0,REGION I,PANGASINAN,CALASIAO,BUENLAG,55170026,25,47,8,230,138,8,592,503,"0060A, 0060B, 0061A, 0062A",BUENLAG ELEMENTARY SCHOOL,05/09/2016 19:11:37
1,REGION I,PANGASINAN,CALASIAO,BUENLAG,55170027,28,52,3,191,137,7,526,458,"0062B, 0063A, 0063B, 0064A",BUENLAG ELEMENTARY SCHOOL,05/09/2016 18:39:48
2,REGION I,PANGASINAN,CALASIAO,BUENLAG,55170023,32,75,5,295,156,12,723,649,"0051C, 0052A, 0052B, 0053A, 0053B",BUENLAG ELEMENTARY SCHOOL,05/09/2016 18:36:49
3,REGION I,PANGASINAN,CALASIAO,BUENLAG,55170022,50,91,5,291,172,14,768,650,"0049A, 0050A, 0050B, 0051A, 0051B",BUENLAG ELEMENTARY SCHOOL,05/09/2016 17:12:03
4,REGION I,PANGASINAN,CALASIAO,BUENLAG,55170025,58,96,3,303,162,14,787,662,"0056C, 0057A, 0057B, 0058A, 0058B, 0059A, 0059B",BUENLAG ELEMENTARY SCHOOL,05/09/2016 18:34:08

In [22]:
pres.head()

,Region,Province,City,Barangay,Precinct ID,"ABELLA, ERNIE (IND)","DE GUZMAN, LEODY (PLM)","DOMAGOSO, ISKO MORENO (AKSYON)","GONZALES, NORBERTO (PDSP)","LACSON, PING (PDR)","MANGONDATO, FAISAL (KTPNAN)","MARCOS, BONGBONG (PFP)","MONTEMAYOR, JOSE JR. (DPP)","PACQUIAO, MANNY PACMAN(PROMDI)","ROBREDO, LENI (IND)"
0,REGION X,BUKIDNON,BAUNGON,BALINTAD,13010009,2,1,4,0,0,1,224,0,115,29
1,REGION X,BUKIDNON,BAUNGON,BUENAVISTA,13010010,3,5,7,5,0,2,310,1,188,47
2,REGION X,BUKIDNON,BAUNGON,DANATAG,13010011,4,3,9,4,3,0,288,4,152,44
3,REGION X,BUKIDNON,BAUNGON,DANATAG,13010012,2,2,16,2,3,0,190,3,160,51
4,REGION X,BUKIDNON,BAUNGON,DANATAG,13010013,0,1,16,4,6,0,272,2,125,46

In [41]:
pres_region_votes_robredo = pd.DataFrame(
    {
        'region': pres['Region'],
        'votes': pres['ROBREDO, LENI (IND)']
    }
)

vp_region_votes_robredo = pd.DataFrame(
    {
        'region': vp['region'],
        'votes': vp['robredo']
    }
)

pres_region_votes_marcos = pd.DataFrame(
    {
        'region': pres['Region'],
        'votes': pres['MARCOS, BONGBONG (PFP)']
    }
)

vp_region_votes_marcos = pd.DataFrame(
    {
        'region': vp['region'],
        'votes': vp['marcos']
    }
)

In [37]:
vp_region_votes_robredo.groupby(['region']).sum()

               votes
region
ARMM          464605
CAR           116213
NCR          1361617
NIR           969381
OAV            31117
REGION I      297974
REGION II     184520
REGION III   1334104
REGION IV-A  1973116
REGION IV-B   491405
REGION IX     474021
REGION V     1500405
REGION VI    1268076
REGION VII   1111516
REGION VIII   687086
REGION X      694737
REGION XI     233920
REGION XII    422817
REGION XIII   406810

In [24]:
pres_region_votes_robredo.groupby(['region']).sum()

                                    votes
region
BARMM                              425074
CORDILLERA ADMINISTRATIVE REGION    88439
NATIONAL CAPITAL REGION           1795041
OAV                                 82779
REGION I                           329361
REGION II                          167787
REGION III                        1630553
REGION IV-A                       2636125
REGION IV-B                        529009
REGION IX                          261838
REGION V                          2450255
REGION VI                         1938555
REGION VII                         913852
REGION VIII                        582546
REGION X                           274346
REGION XI                          134337
REGION XII                         257547
REGION XIII                        287936

In [20]:
vp_region_votes_marcos.groupby(['region']).sum()

               votes
region
ARMM          283884
CAR           446960
NCR          2179053
NIR           225922
OAV            75140
REGION I     1764750
REGION II    1047037
REGION III   2136431
REGION IV-A  1864189
REGION IV-B   264650
REGION IX     315547
REGION V      187277
REGION VI     272358
REGION VII    393042
REGION VIII   724747
REGION X      436300
REGION XI     467186
REGION XII    512497
REGION XIII   207912

In [42]:
pres_region_votes_marcos.groupby(['region']).sum()

                                    votes
region
BARMM                              997046
CORDILLERA ADMINISTRATIVE REGION   746084
NATIONAL CAPITAL REGION           3247385
OAV                                308853
REGION I                          2547508
REGION II                         1604238
REGION III                        3934833
REGION IV-A                       3971570
REGION IV-B                        710534
REGION IX                         1015599
REGION V                           566264
REGION VI                         1514906
REGION VII                        2303238
REGION VIII                       1563312
REGION X                          1718055
REGION XI                         2059124
REGION XII                        1265044
REGION XIII                        948257

In [7]:
set(vp["region"])

{'ARMM',
 'CAR',
 'NCR',
 'NIR',
 'OAV',
 'REGION I',
 'REGION II',
 'REGION III',
 'REGION IV-A',
 'REGION IV-B',
 'REGION IX',
 'REGION V',
 'REGION VI',
 'REGION VII',
 'REGION VIII',
 'REGION X',
 'REGION XI',
 'REGION XII',
 'REGION XIII'}

In [9]:
set(pres["Region"])

{'BARMM',
 'CORDILLERA ADMINISTRATIVE REGION',
 'NATIONAL CAPITAL REGION',
 'OAV',
 'REGION I',
 'REGION II',
 'REGION III',
 'REGION IV-A',
 'REGION IV-B',
 'REGION IX',
 'REGION V',
 'REGION VI',
 'REGION VII',
 'REGION VIII',
 'REGION X',
 'REGION XI',
 'REGION XII',
 'REGION XIII'}